body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #282c34;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}